/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-radius: 0 !important;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

.gradient-bg {
  background: linear-gradient(-45deg, #3b82f6, #1e40af, #1e293b, #0f172a);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
